<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.co.tje.lgtwins">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lgtwins_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider android:authorities="com.facebook.app.FacebookContentProvider1648925831797110"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity android:name=".MainActivity"/>
        <activity android:name=".SplashActivity" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".PostPopupActivity" />
        <activity android:name=".PostDetailViewActivity" />
        <activity android:name=".NoticeAndEventPopupActivity" />
        <activity android:name=".NoticeAndEventDetailViewActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TeamRankActivity" />
        <activity android:name=".CalendarAndResultActivity"></activity>
    </application>

</manifest>